body {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.headerbox {
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
    align-items: stretch;
}

.header {
    font-weight: bold;
    font-size: 20px;
    color: #F9FAF8;
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
}

.links {
    margin-left: auto;
    gap: 30px;
}

.headercontent {
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    justify-content: space-between;
}

.headertext {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 auto;
}

h1 {
    font-weight: 800;
    font-size: 48px;
    padding: 0;
    color: #F9FAF8;
    margin: 0px;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.headerimage {
    flex: 1 2 auto;
}

.boxtwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 120px;
    padding-left: 400px;
    padding-right: 400px;
}

h3 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 60px;
}

.sqcontainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.square {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
}

.boxthree {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    color: #1F2937;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    color: #E5E7EB;
    border: none;
    background: #3882F6;
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    font-size: 18px;
}

a:link {
    text-decoration: none;
    color: white;
}


